/* Styling for all the admin components */

.adminList{
 margin: 10px;
 border: 1px solid black;
}
.adminContainer{
  display: flex;
}
.adminForm td:first-child{
  text-align: right;
}

.adminHide{
  display: none;
}
.adminShow{
  display: block;
}
#adminMsg{
  color: yellow;
  font-size: 24px;
  position: absolute;
  width: 300px;
  height: auto;
  left: 50%;
  background-color: black;
  border: 1px solid grey;
}
