
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* ===============
   GLOBAL
   =============== */


footer {
    padding: 1em;
    color: white;

    background-color: black;

    clear: left;
    text-align: center;
}

header {
    padding: 1em;
    background-color: black;
}

/* ===============
   FLEXBOX vehicles list component
   =============== */
.vehiclesContainer {
    display:flex;
    flex-direction:row-wrap;
    width:80%;
    margin:auto;
    padding-left:0;
    padding-right: 0;
    flex-wrap: wrap;


}

.individualContainer {
    display:flex;
    flex-direction:column;
    margin: 10px;
    align-items: center;
}

.boxUnderCarImage :first-child {
    font-weight: bold;
    font-size: 13pt;
}

.boxUnderCarImage {
    width: 150px;
    height: 120px;
    margin-top: 10px;
}


/* ===============
   GLOBAL
   =============== */


footer {
    padding: 1em;
    color: white;

    background-color: black;

    clear: left;
    text-align: center;
}

header {
    padding: 1em;
    background-color: black;
}

/* ===============
   FLEXBOX vehicles list component
   =============== */


.vehicleBox {
    flex:auto;
    padding:20px;

    float: left;

    margin: 10px 5px;
    border-radius: 1%;
    border: solid 2px lightgray;
}

.insideOfCont {
    flex:1 1 auto;
    text-align: left;
}

/*div.container {
    width: 100%;
}*/


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#vehicleslistbox button {
    padding: 10px;
    color: white;
    background-color: gray;
    border-radius: 7px;
    font-size: 13pt;
}

 #booking button {
    padding: 10px;
    background-color: black;
    color:  white;
    border-radius: 7px;
    font-size: 13pt;
    margin: 20px;
 }

/* ===============
   LIST
   =============== */

#datesorting{
    background-image: url('../media/car1.jpg');
    border: 2px solid grey;
    padding: 10px;
    margin: 20px auto;
    width: 76%;
    float: center;
    height: 290px;
    text-align: center;
    border-radius: 2px;
}

#booking {
    background-color: #778b8a;
    border: 2px solid grey;
    padding: 20px;
    width: 76%;
    margin:auto;
    border-radius: 2px;
    margin-top: 20px;
}

#container {
    display:flex;
    flex-direction:row;
    width:80%;
    margin:auto;
    text-align: center;

}


#calendarBox {
  background-color: rgba(255,255,255, 0.3);
  padding-bottom: 25px;
}


/* ===============
  Calendar box
=============== */

.chooseDate {
  font-size: 1.2em;
  color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    color: white;
    padding-right: 20px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li :hover {
    cursor: pointer;
}

#vehicles li {
    float: none;
    color:black;
}

li button{
    display: block;
    color: black;
    margin-right:1px;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
}

li button:hover {
    background-color: black;
    color: white;
}

/* ===============
   LOGO
   =============== */

#logoText {
    font-size: 18pt;
}
.adminList{
  margin: 10px;
  border: 1px solid black;
}
j
#logoText {
    font-size: 18pt;
}


#background{
    position: relative;
    width: 100%;
    min-height: auto;
    background-size: cover;
    background-position: center;
    background-image:url('../media/car2.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    }

/* ===============
   CALENDAR
   =============== */

#calendaricon{
    /*background-image:url('../media/cal.gif');*/
    background-color: red;
    width: 25px;
    height: 25px;
    border:0;
    content: 'Pick a date';}

    #logoText {
    font-size: 18pt;
}




/* ===============
   Input field for calendar
   =============== */
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;

   padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
  outline: none;
    border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

input {
  border-radius: 3px;
}

/* ===============
   Modal popup in the booking component
   =============== */

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Full width */
    min-height: 60vh;
    text-align: center;
}

#date{
  font-weight: bold;
  font-size: 1.3em;
  font-stretch: condensed;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/* The Close Button */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#calendars{
    display: none; /* Hidden by default */
    background-color: white;
    position: fixed; /* Stay in place */
    left: 20%;
    top: 20%;
    width: 40%;
    min-width:300px;
    height:50%;
}

#calendarBooking{
margin-left: 30%;
margin-right: 30%;
margin-top: 20%;
margin-bottom: 25%;
}

.container {
    display:flex;
    flex-direction:row;
    width:100%;
    margin:auto;
    border-bottom: 1px solid black;
}

.flex {
   flex:1;
   height: 190px;

}

.flex2 {
  
  height: 300px;
  float: right;
}

.container2 {
    display:flex;
    flex-direction:row;
    width:30%;
    margin:auto;
}

.style {
  font-weight: bold;
  font-size: 10pt;
}

.dates {
  font-size: 12pt;
}

/* ===============
   Footer
   =============== */

.footer-distributed{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 3em;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  black;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  black;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}