extends layout

block content
	h1 #{title}

	ul.list-group
		each x, i in vehicles
			li= x.brand + ' ' + x.model
				button 
					a(href="/edit" target="_blank", tabindex='-1' onclick="test()") edit
				button delete	
				button Not available
