extends layout

block content
	h1 #{title}

	form(method="post", action="/vehicles/add")
		label Pick up date:
		input(name="title", type="date")
		br
		label Return date:
		input(name="title", type="date")
		br
		button Book now