extends layout

block content
	h1 #{title}

	form(method="post", action="edit")
		label Name:
		input(name="title", type="text")
		br
		label Model:
		input(name="title", type="text")
		br
		label Status:
		input(name="title", type="text")
		br
		label Date:
		input(name="title", type="text")
		br
		input(type="submit", value="Update") 