doctype html
html
  head
    title Booking
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      header
        h1 Olssons fordon AB

        ul
          li Vehicles
          li Contact us

      br
      hr

      block content

      br
      hr

      footer
        p Copyright &copy; 2017
