extends layout
block content
	h1 #{title}
	h2 This is the Vehicle page
	ul.list-group
		each x, i in vehicles
			li= x.brand + ' ' + x.model
				img(src=x.imgLink)
			button 
				a(href="/book" target="_blank", tabindex='-1') book