doctype html
html
  head
    title Booking
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      header
        h1 Olssons fordon AB

        ul
          li
          a(href="/vehicles" target="_blank", tabindex='-1') Vehicles
          li 
          a(href="/contact" target="_blank", tabindex='-1') Contact us
          li
          a(href="/admin" target="_blank", tabindex='-1') Admin


      br
      hr

      block content

      br
      hr

      footer
        p Copyright &copy; 2017
